.txtCenter{
   text-align: center;
}
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  table {
    width: 100%;
  }
  
  .mr10{
      margin-right: 10px;
  }

  .w100{
      width: 100%;
  }